{{!-- <!-- Loop over each object in the projects array -->
{{#each blogs as |blog| }}
<div class="borderdiv">
    <div class="row mb-4 blog">
        <div class="blogtitle">
            <h2>

                <a href="/blog/{{blog.id}}">{{blog.name}}</a>
            </h2>
        </div>
        <div id="postedby">
            <p>Posted by {{blog.user.name}} on {{format_date blog.date_created}}</p>
        </div>
    </div>
    <div class="col-md-7">
        <p>
            {{blog.description}}
        </p>
    </div>
</div>
{{/each}} --}}

<article class="blog">

    {{#each blogs as |blog| }}
    {{> blog-info blog}}
    {{/each}}

</article>